.calcBody {
  max-width: 400px;
  margin: auto;
}

.result {
  height: 60px;
  background-color: #ddd;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}

.button {
  display: block;
  background-color: #c1c1c1;
}
